body{
	background-color: rgb(21, 81, 88);
	box-sizing: border-box;
}
h1{
	font-family: "Poor Story", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color:#ffffff;
}
h2 {
  font-family: "Poor Story", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color:#ffffff;

}
#todoApp{
    width: 100%;
	margin: 0 ;
    padding-bottom:40px;
	border: 2px solid rgba(0, 152, 179, 0.267);
	justify-content: center;
    border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 10,
  'opsz' 24;
  font-size: 35px;
  margin-right: 20px;
  vertical-align: top;
}


   input[type="text"]{
	 width:40%;
	  padding: 12px;
	  margin: 10px;
	  margin-left: 30px;
	 font-size: 16px;
  }
  #addButton{
	  background-color: #4CAF50;
	  color: white;
	  padding:15px 20px;
	  border: none;
	  margin-right:0px;
	  cursor: pointer;
	  border-radius: 5px;
  }
  #addButton:hover {
	background-color: #053107;
  }
  #taskListTitle{
	display: none;
  }
 ul {
	  list-style-type:none;
	  margin:0;
	  padding:0;
  }
    ul li{
		position: relative;
		width: 70%;
		margin-left: 80px;
		margin-bottom:10px ;
	  padding: 10px;
	 font-size: 30px;
	 border-style: solid;
	 border-width: 1px;
	 border-color:#000000;
	 transition: 0.3s;
	 background: #0c8b7f;
	 text-align: left;
	  cursor: pointer;
	  border-radius: 8px;
	  color: white;
   }
  li:hover {
	   background-color:#8bc99c;
   }
  
   .close-container {
	float: right;
	display: flex;
    align-items: center;
   }
   .close{
	   width: 50px;
	   height: 40px;
	    cursor: pointer;
		vertical-align: baseline;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 10,
  'opsz' 24;
}
.clicked {
	background-color: #4CAF50;
}
	   
   ul li.checked{
   background: #4CAF50;
   color: rgb(255, 255, 255);
   }
   ul li.checked::before {
	   content: "\2713";/* uNICODE CHARACTER FOR CHECKMARK*/
	   margin-right:5px;
	   color: rgb(247, 0, 255);
   }
 